MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/StudentLibrary?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
PORT=8001
CLIENT_URL=http://localhost:3000
# Optional keys
OPENAI_API_KEY=your_openai_api_key

# Cloudflare R2 Settings
R2_ENDPOINT=your_r2_endpoint_here
R2_BUCKET_NAME=your_r2_bucket_name_here
R2_ACCESS_KEY_ID=your_r2_access_key_id_here
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key_here
R2_PUBLIC_URL=your_r2_public_url_here
